@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

#page-container{
  padding:1em;
}

.chatbar {
  background: tomato;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;

}



#post-message-button {
  background: #67b2e4;
  background-image: linear-gradient(to bottom, #67b2e4, #2691d9);
  border-radius: 10px;
  box-shadow: 2px 2px 10px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 25px;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
  border: none;
  height: 42px;
  position: relative;
  top: 5px;
}

#post-message-button:hover {
  background: #75c7ff;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  border-radius: 1px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
  font-size: large;
  line-height: 1.8em;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: tomato;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;


  #number-of-users{
    float: right;
    position: relative;
    margin: 21px;
    font-size: large;
  }

  #username-textbox{
    margin: 9px;
    margin-right: -2px;
    border-radius: 2px;
    float: right;
  }

  #change-username-button{
    background: #67b2e4;
    background-image: linear-gradient(to bottom, #67b2e4, #2691d9);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 25px;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    border: none;
    height: 41px;
    position: relative;
    top: 9px;
    float: right;
  }
  #change-username-button:hover{
    background: #75c7ff;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

